.ContextMenuContainer {
    width: 100%;
    height: 100%;
}

.MenuWrapper {
    position: absolute;
    height: fit-content;
    width: fit-content;
}

.MenuWrapper:focus {
    outline: none;
    border: none;
}